*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#153677,#4e085f);
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5954;
    border-radius: 40px;
    font-size: large;
    cursor: pointer;
    color: #fff;
}

ul li{
    cursor: pointer;
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    position: relative;

}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    color: #555;
    position: absolute;
    top: 5px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

/*  Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .row input {
        font-size: 14px;
        padding: 10px;
    }

    .row button {
        padding: 10px 15px;
        font-size: 14px;
    }

    ul li {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .todo-app h2 {
        font-size: 20px;
    }

    .row {
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
    }

    .row input {
        width: 100%;
        font-size: 14px;
        padding: 8px;
        margin-bottom: 10px;
    }

    .row button {
        width: 100%;
        font-size: 14px;
        padding: 10px;
    }
}
